@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

body {
  background-color: #f1f1f1;
  overflow: unset;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin-bottom: unset;
  padding: unset;
}

.navLinks a {
  color: white;
  text-decoration: none;
}

.form-container-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #023aae;
}

.form-container {
  background-color: white;
  border-radius: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  width: 100%;
  max-width: 30rem;
  max-height: 44rem;
  overflow-y: auto;
}

.form-container h2 {
  font-size: 2.815rem;
  font-weight: 800;
  color: #023aae;
  margin-bottom: 2rem;
}

.k-input-group {
  border: 1px solid #dae1e6;
  border-radius: 0.625rem;
  position: relative;
  padding-inline: 0.625rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.k-input-group label {
  font-size: 0.875rem;
  color: #809fb8;
  top: 0;
  left: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  background-color: white;
  padding-inline: 1rem;
  position: absolute;
}

.k-input-group input {
  border: none;
  outline: none;
  padding-block: 1rem;
  padding-left: 1.3rem;
  flex: 1;
  color: #023aae !important;
  background-color: white !important;
  font-weight: 700;
}

.k-input-group textarea {
  border: none;
  outline: none;
  padding-block: 1rem;
  padding-left: 1.3rem;
  flex: 1;
  color: #023aae !important;
  background-color: white !important;
  font-weight: 700;
}

.k-btn-primary {
  background-color: #217efd !important;
  color: white;
  font-size: 1.125rem;
  font-weight: 800;
  min-width: 12rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background: none;
  outline: none;
}

.signupLink {
  color: #809fb8;
  font-weight: 500;
  margin: 1rem auto;
}

.signupLink a {
  color: #023aae;
}

.cutoff-text {
  --max-lines: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.dropdown-menu li a {
  color: #000;
}

.author-name {
  font-weight: bold;
  color: #66676e;
  text-decoration: underline;
}

.singleBlogContainer {
  max-width: 1200px;
  margin: 1rem auto;
}

.singleBlogContainer h5 {
  font-weight: 700;
  font-size: 20px;
  margin: 1rem 0rem;
}

.singleBlogContainer h5 span {
  color: #007bff;
}

.singleBlogContainer img {
  border-radius: 5px;
  width: 100%;
}

.singleBlogContainer h1 {
  font-weight: bold;
  margin: 1rem auto;
}

.singleBlogContainer p {
  font-size: 20px;
}

.noBlog {
  margin-top: 1rem;
  font-size: 6rem;
  text-decoration: underline;
  font-weight: bold;
}

.blog-card-img {
  width: 100%;
  border-radius: 5px;
}

.navUserName {
  cursor: pointer;
  width: 100%;
  border: 1px solid white;
  border-radius: 5rem;
  padding: 0.5rem;
  color: #fff;
  font-size: 18px;
}

.logo {
  width: 3.5rem;
}

.jodit-react-container {
  width: 100%;
}
